Lab Notebook

Start by importing libraries

In [54]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Read in some data: project description recommends imdb.title.basics, imdb.title.ratings, bom.movie_gross

IMDB Main

In [55]:
df_imdb_title = pd.read_csv("zippedData/imdb.title.basics.csv.gz")

df_imdb_title.set_index('tconst', inplace=True)
df_imdb_title.head()

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

IMDB Viewer ratings

In [56]:
df_imdb_ratings = pd.read_csv("zippedData/imdb.title.ratings.csv.gz")
df_imdb_ratings.set_index('tconst', inplace=True)
df_imdb_ratings.head()

            averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20
tt1043726             4.2     50352
tt1060240             6.5        21

In [57]:
#join the film data and the ratings data

df_imdb_merge = df_imdb_title.join(df_imdb_ratings)
df_imdb_merge.head(20)

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,NaN,NaN
tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32.0
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263.0
tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History",NaN,NaN
tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography,NaN,NaN
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,6.8,451.0
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,4.6,64.0
tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,7.6,53.0
tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,6.9,120.0
tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,7.5,6.0
tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",7.8,584.0
tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN,NaN,NaN
tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,4.0,72.0
tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,8.8,8.0
tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",4.0,12.0

Data cleaning

In [58]:
#check out the merged data
df_imdb_merge.isna().sum()

primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
averagerating      72288
numvotes           72288
dtype: int64

How I want to handle the missing data:
* original title : drop column
* runtime: leave as is for now
* genres: explore and see - drop rows with missing genre
* average rating/numvotes: remove films that are missing, clean unmerged table to use without ratings

In [59]:
#df_imdb_merge = df_imdb_merge.drop('original_title', axis = 1) #drop the original title row
df_imdb_merge.dropna(subset=['genres', 'averagerating', 'numvotes'], inplace=True)
df_imdb_merge.head(20)
#df_imdb_nogenres = df_imdb_merge[df_imdb_merge['genres'].isna()]
#df_imdb_nogenres.info()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32.0
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263.0
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,6.8,451.0
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,4.6,64.0
tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,7.6,53.0
tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,6.9,120.0
tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,7.5,6.0
tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",7.8,584.0
tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,4.0,72.0
tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,8.8,8.0
tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",4.0,12.0
tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",1.9,8248.0
tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama",6.7,236.0
tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",5.9,123.0
tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary,7.8,22.0

I want to be able to handle genres individually

1. I want to create a column of 'main genre' with only one option
2. I want to create a series of columns with bool values for each possible genre (stretch)

In [60]:
example = df_imdb_merge['genres'].iloc[0].split(',')[0]
print(example)
#create a new column called 'main_genre' with only the first genre listed
#this was a problem because main genre was the first alphabetically
#df_imdb_merge['main_genre'] = df_imdb_merge['genres'].map(lambda genres_list: str(genres_list).split(',')[0])
#df_imdb_merge.head()
#df_imdb_merge['main_genre'].unique()

Action

array(['Action', 'Biography', 'Drama', 'Comedy', 'Horror', 'Adventure',
       'History', 'Documentary', 'Animation', 'Crime', 'Sci-Fi',
       'Thriller', 'Fantasy', 'Mystery', 'Musical', 'Family', 'Western',
       'Romance', 'Sport', 'Music', 'War', 'News', 'Game-Show',
       'Reality-TV', 'Adult'], dtype=object)

In [ ]:
#get all of the genres in one big string

In [ ]:
#split string

In [ ]:
df_clean.genres.map{lambda val: 1 if genre in val else 0}

In [82]:


genre = 'Action'
for genre_list in df_clean.genres:
    print(genre in genre_list)

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,main_genre
tconst,,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0,Action
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0,Biography
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0,Drama
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0,Comedy
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263.0,Adventure

In [ ]:
def make_genre_columns(dataframe, genre_col_name='genres'):
    '''
    '''
    ##get list of unique genres
    #join all the (unique) genre values into one big string
    list_all_genres = ','.join(dataframe[genre_col_name].unique())
    #get a set of all unique genres wo duplicates
    unique_genres = set(list_all_genres.split(','))
    
    ## create new columns witht he genres and populate with 0/1
    #make safe copy
    new_dataframe = dataframe.copy(deep=True)
    for genre in unique_genres:
        new_dataframe[genre] = new_dataframe[genre_col_name].map(lambda val: 1 if genre in val else 0)
    
    #drop unused genre column    
    new_dataframe = new_dataframe.drop([genre_col_name], axis=1)
    return new_dataframe

I might want to clean up the IMDB title in the same way so that I can have a dataset with more data but without ratings

For now: df_imdb_merge is my dataframe of IMDB data with ratings

In [61]:
#I used this cell to crawl through the other IMDB data
df_imdb_test = pd.read_csv("zippedData/imdb.title.principals.csv.gz")
print(df_imdb_test.info())
df_imdb_test.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1028186 non-null  object
 1   ordering    1028186 non-null  int64
 2   nconst      1028186 non-null  object
 3   category    1028186 non-null  object
 4   job         177684 non-null   object
 5   characters  393360 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB
None

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
5,tt0323808,2,nm2694680,actor,NaN,"[""Steve Thomson""]"
6,tt0323808,3,nm0574615,actor,NaN,"[""Sir Lachlan Morrison""]"
7,tt0323808,4,nm0502652,actress,NaN,"[""Lady Delia Morrison""]"
8,tt0323808,5,nm0362736,director,NaN,NaN
9,tt0323808,6,nm0811056,producer,producer,NaN
10,tt0323808,7,nm0914939,producer,producer,NaN
11,tt0323808,8,nm0779346,composer,NaN,NaN
12,tt0323808,9,nm0676104,cinematographer,NaN,NaN
13,tt0417610,10,nm0284261,composer,NaN,NaN
14,tt0417610,1,nm0532721,actor,NaN,"[""Lucio""]"
15,tt0417610,2,nm0330974,actress,NaN,"[""Diana""]"
16,tt0417610,3,nm0069209,actor,NaN,"[""Dr. Samaniego""]"
17,tt0417610,4,nm0679167,actress,NaN,"[""Adriana María""]"
18,tt0417610,5,nm1145057,director,NaN,NaN
19,tt0417610,6,nm0083201,writer,story,NaN

Box Office Mojo data

In [10]:
bom_gross = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
bom_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

TMDB Main movie data

In [62]:
df_tmdb_movies = pd.read_csv("zippedData/tmdb.movies.csv.gz")
df_tmdb_movies.head()

#this one seems less useful than the IMDB data, but I'm interested in the popularity column

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

Rotten Tomatoes main info

In [63]:
df_rt_info = pd.read_csv("zippedData/rt.movie_info.tsv.gz", sep='\t', header=0)
df_rt_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

TN Budget Data

In [64]:
#exploring....
df_tn_budgets = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
df_tn_budgets.info()

#I liked this database because it has the most complete budget vs gross data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [65]:
#change the date to a datetime object

df_tn_budgets['release_date'] = pd.to_datetime(df_tn_budgets['release_date'])
print(df_tn_budgets['release_date'].dtype)
df_tn_budgets.head()

datetime64[ns]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,2019-06-07,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,2015-05-01,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [66]:
#turn the budget and gross columns into ints
# I tried to find a better way to do this but they were all more trouble than they were worth
cols = ['production_budget', 'domestic_gross', 'worldwide_gross']

for c in cols:
    df_tn_budgets[c] = df_tn_budgets[c].str.replace('$', "")
    df_tn_budgets[c] = df_tn_budgets[c].str.replace(',', "")
    df_tn_budgets[c] = df_tn_budgets[c].astype('float')     #values were too big for int
df_tn_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

In [67]:
#create a column of the total gross
df_tn_budgets["total_gross"] = df_tn_budgets['domestic_gross'] + df_tn_budgets['worldwide_gross']

#create ROI column
df_tn_budgets['roi'] = df_tn_budgets['total_gross'] / df_tn_budgets['production_budget']

df_tn_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,roi
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,3.536853e+09,8.322007
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,1.286728e+09,3.133774
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,1.925247e+08,0.550071
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.862020e+09,5.632244
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,1.936903e+09,6.110105

In [68]:
#check what films turn up when we sort by ROI

df_tn_budgets_roi = df_tn_budgets.sort_values(by=['roi'], ascending=False)
df_tn_budgets_roi.head()

#df_tn_budgets_total_gross = df_tn_budgets.sort_values(by=['total_gross'], ascending=False)
#df_tn_budgets_total_gross.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,roi
5745,46,1972-06-30,Deep Throat,25000.0,45000000.0,45000000.0,90000000.0,3600.000000
5492,93,2009-09-25,Paranormal Activity,450000.0,107918810.0,194183034.0,302101844.0,671.337431
5406,7,1999-07-14,The Blair Witch Project,600000.0,140539099.0,248300000.0,388839099.0,648.065165
5679,80,2015-07-10,The Gallows,100000.0,22764410.0,41656474.0,64420884.0,644.208840
5773,74,1993-02-26,El Mariachi,7000.0,2040920.0,2041928.0,4082848.0,583.264000

In [69]:
#pull release year out of the datetime for groupby purposes (found on slackoverflow)
df_tn_budgets['release_year'] = df_tn_budgets['release_date'].map(lambda x: x.strftime('%Y'))
#cast year column as int
df_tn_budgets['release_year'] = df_tn_budgets['release_year'].astype(int)
#df_tn_budgets.info()
grouped_tn_budgets = df_tn_budgets.groupby("release_year")
grouped_tn_budgets.size()

release_year
1915      1
1916      2
1920      1
1925      2
1927      1
       ...
2016    219
2017    168
2018    143
2019     67
2020      3
Length: 96, dtype: int64

In [84]:
#pull out only films from 2009 and after
current_tn_budgets = df_tn_budgets.loc[df_tn_budgets['release_year'] >= 2009]

#let's see how many films from each year we have
grouped_current_budgets = current_tn_budgets.groupby("release_year")
grouped_current_budgets.size()

#see ROI 
current_tn_budgets.sort_values(by=['roi'], ascending = False).head(15)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,roi,release_year
5492,93,2009-09-25,Paranormal Activity,450000.0,107918810.0,194183034.0,302101844.0,671.337431,2009
5679,80,2015-07-10,The Gallows,100000.0,22764410.0,41656474.0,64420884.0,644.208840,2015
5211,12,2012-01-06,The Devil Inside,1000000.0,53262945.0,101759490.0,155022435.0,155.022435,2012
5189,90,2014-03-21,Godâs Not Dead,1150000.0,60755732.0,63777092.0,124532824.0,108.289412,2014
5062,63,2011-04-01,Insidious,1500000.0,54009150.0,99870886.0,153880036.0,102.586691,2011
5213,14,2015-04-17,Unfriended,1000000.0,32789645.0,64364198.0,97153843.0,97.153843,2015
5459,60,2009-04-23,Home,500000.0,15433.0,44793168.0,44808601.0,89.617202,2009
4664,65,2010-10-20,Paranormal Activity 2,3000000.0,84752907.0,177512032.0,262264939.0,87.421646,2010
4248,49,2017-02-24,Get Out,5000000.0,176040665.0,255367951.0,431408616.0,86.281723,2017
4249,50,2017-01-20,Split,5000000.0,138141585.0,278964806.0,417106391.0,83.421278,2017
4250,51,2011-10-21,Paranormal Activity 3,5000000.0,104028807.0,207039844.0,311068651.0,62.213730,2011
5063,64,2016-10-21,Moonlight,1500000.0,27854931.0,65245512.0,93100443.0,62.066962,2016
5014,15,2010-08-27,The Last Exorcism,1800000.0,41034350.0,70165900.0,111200250.0,61.777917,2010
5217,18,2012-05-25,Chernobyl Diaries,1000000.0,18119640.0,42411721.0,60531361.0,60.531361,2012
4083,84,2014-10-03,Annabelle,6500000.0,84273813.0,256862920.0,341136733.0,52.482574,2014

In [76]:
#exploring...
current_tn_budgets.sort_values(by=['total_gross'], ascending = False).head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,roi,release_year
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,3.536853e+09,8.322007,2009
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2.989973e+09,9.771155,2015
6,7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2.726950e+09,9.089832,2018
33,34,2015-06-12,Jurassic World,215000000.0,652270625.0,1.648855e+09,2.301125e+09,10.702909,2015
26,27,2012-05-04,The Avengers,225000000.0,623279547.0,1.517936e+09,2.141215e+09,9.516513,2012
41,42,2018-02-16,Black Panther,200000000.0,700059566.0,1.348258e+09,2.048318e+09,10.241589,2018
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,1.936903e+09,6.110105,2017
66,67,2015-04-03,Furious 7,190000000.0,353007020.0,1.518723e+09,1.871730e+09,9.851210,2015
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.862020e+09,5.632244,2015
43,44,2018-06-15,Incredibles 2,200000000.0,608581744.0,1.242521e+09,1.851102e+09,9.255512,2018

In [72]:
#exploring...
current_tn_budgets.sort_values(by=['domestic_gross'], ascending = False).head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,roi,release_year
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2.989973e+09,9.771155,2015
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,3.536853e+09,8.322007,2009
41,42,2018-02-16,Black Panther,200000000.0,700059566.0,1.348258e+09,2.048318e+09,10.241589,2018
6,7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2.726950e+09,9.089832,2018
33,34,2015-06-12,Jurassic World,215000000.0,652270625.0,1.648855e+09,2.301125e+09,10.702909,2015
26,27,2012-05-04,The Avengers,225000000.0,623279547.0,1.517936e+09,2.141215e+09,9.516513,2012
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,1.936903e+09,6.110105,2017
43,44,2018-06-15,Incredibles 2,200000000.0,608581744.0,1.242521e+09,1.851102e+09,9.255512,2018
44,45,2016-12-16,Rogue One: A Star Wars Story,200000000.0,532177324.0,1.049103e+09,1.581280e+09,7.906401,2016
134,35,2017-03-17,Beauty and the Beast,160000000.0,504014165.0,1.259200e+09,1.763214e+09,11.020087,2017

In [80]:
df_imdb_tn_agg = current_tn_budgets.merge(df_imdb_merge, left_on="movie", right_on='primary_title')
df_imdb_tn_agg.head(50)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,roi,release_year,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,main_genre
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,3.536853e+09,8.322007,2009,Avatar,Abatâ,2011,93.0,Horror,6.1,43.0,Horror
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,1.286728e+09,3.133774,2011,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy",6.6,447624.0,Action
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,1.925247e+08,0.550071,2019,Dark Phoenix,Dark Phoenix,2019,113.0,"Action,Adventure,Sci-Fi",6.0,24451.0,Action
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.862020e+09,5.632244,2015,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,665594.0,Action
4,7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2.726950e+09,9.089832,2018,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",8.5,670926.0,Action
5,9,2017-11-17,Justice League,300000000.0,229024295.0,6.559452e+08,8.849695e+08,2.949898,2017,Justice League,Justice League,2017,120.0,"Action,Adventure,Fantasy",6.5,329135.0,Action
6,10,2015-11-06,Spectre,300000000.0,200074175.0,8.796209e+08,1.079695e+09,3.598984,2015,Spectre,Spectre,2015,148.0,"Action,Adventure,Thriller",6.8,352504.0,Action
7,11,2012-07-20,The Dark Knight Rises,275000000.0,448139099.0,1.084439e+09,1.532578e+09,5.573012,2012,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769.0,Action
8,12,2018-05-25,Solo: A Star Wars Story,275000000.0,213767512.0,3.931513e+08,6.069189e+08,2.206978,2018,Solo: A Star Wars Story,Solo: A Star Wars Story,2018,135.0,"Action,Adventure,Fantasy",7.0,226243.0,Action
9,13,2013-07-02,The Lone Ranger,275000000.0,89302115.0,2.600021e+08,3.493042e+08,1.270197,2013,The Lone Ranger,The Lone Ranger,2013,150.0,"Action,Adventure,Western",6.4,208827.0,Action
10,14,2012-03-09,John Carter,275000000.0,73058679.0,2.827781e+08,3.558368e+08,1.293952,2012,John Carter,John Carter,2012,132.0,"Action,Adventure,Sci-Fi",6.6,241792.0,Action
11,15,2010-11-24,Tangled,260000000.0,200821936.0,5.864772e+08,7.872992e+08,3.028074,2010,Tangled,Tangled,2010,100.0,"Adventure,Animation,Comedy",7.8,366366.0,Adventure
12,17,2016-05-06,Captain America: Civil War,250000000.0,408084349.0,1.140069e+09,1.548154e+09,6.192615,2016,Captain America: Civil War,Captain America: Civil War,2016,147.0,"Action,Adventure,Sci-Fi",7.8,583507.0,Action
13,18,2016-03-25,Batman v Superman: Dawn of Justice,250000000.0,330360194.0,8.675003e+08,1.197860e+09,4.791442,2016,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,2016,151.0,"Action,Adventure,Fantasy",6.5,576909.0,Action
14,19,2012-12-14,The Hobbit: An Unexpected Journey,250000000.0,303003568.0,1.017004e+09,1.320007e+09,5.280029,2012,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629.0,Adventure
15,21,2013-12-13,The Hobbit: The Desolation of Smaug,250000000.0,258366855.0,9.603669e+08,1.218734e+09,4.874935,2013,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,2013,161.0,"Adventure,Fantasy",7.8,565563.0,Adventure
16,22,2014-12-17,The Hobbit: The Battle of the Five Armies,250000000.0,255119788.0,9.455776e+08,1.200697e+09,4.802790,2014,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,2014,144.0,"Adventure,Fantasy",7.4,438621.0,Adventure
17,23,2017-04-14,The Fate of the Furious,250000000.0,225764765.0,1.234846e+09,1.460611e+09,5.842444,2017,The Fate of the Furious,The Fate of the Furious,2017,136.0,"Action,Crime,Thriller",6.7,179774.0,Action
18,25,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,9.608000e+08,4.177391,2017,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,2017,129.0,"Action,Adventure,Fantasy",6.6,228592.0,Action
19,27,2012-05-04,The Avengers,225000000.0,623279547.0,1.517936e+09,2.141215e+09,9.516513,2012,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655.0,Action
20,29,2013-06-14,Man of Steel,225000000.0,291045518.0,6.679995e+08,9.590450e+08,4.262422,2013,Man of Steel,Man of Steel,2013,143.0,"Action,Adventure,Sci-Fi",7.1,647288.0,Action
21,31,2012-07-03,The Amazing Spider-Man,220000000.0,262030663.0,7.578903e+08,1.019921e+09,4.636004,2012,The Amazing Spider-Man,The Amazing Spider-Man,2012,136.0,"Action,Adventure,Sci-Fi",7.0,525632.0,Action
22,32,2012-05-18,Battleship,220000000.0,65233400.0,3.134777e+08,3.787111e+08,1.721414,2012,Battleship,Battleship,2012,131.0,"Action,Adventure,Sci-Fi",5.8,225342.0,Action
23,33,2017-06-21,Transformers: The Last Knight,217000000.0,130168683.0,6.028933e+08,7.330620e+08,3.378166,2017,Transformers: The Last Knight,Transformers: The Last Knight,2017,154.0,"Action,Adventure,Sci-Fi",5.2,119007.0,Action
24,34,2015-06-12,Jurassic World,215000000.0,652270625.0,1.648855e+09,2.301125e+09,10.702909,2015,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,Action
25,35,2012-05-25,Men in Black 3,215000000.0,179020854.0,6.542135e+08,8.332343e+08,3.875509,2012,Men in Black 3,Men in Black 3,2012,106.0,"Action,Adventure,Comedy",6.8,309879.0,Action
26,37,2014-06-27,Transformers: Age of Extinction,210000000.0,245439076.0,1.104039e+09,1.349478e+09,6.426086,2014,Transformers: Age of Extinction,Transformers: Age of Extinction,2014,165.0,"Action,Adventure,Sci-Fi",5.7,283486.0,Action
27,39,2010-05-14,Robin Hood,210000000.0,105487148.0,3.224590e+08,4.279462e+08,2.037839,2010,Robin Hood,Robin Hood,2010,140.0,"Action,Adventure,Drama",6.6,239480.0,Action
28,39,2010-05-14,Robin Hood,210000000.0,105487148.0,3.224590e+08,4.279462e+08,2.037839,2010,Robin Hood,Robin Hood,2013,92.0,"Action,Drama",6.3,78.0,Action
29,39,2010-05-14,Robin Hood,210000000.0,105487148.0,3.224590e+08,4.279462e+08,2.037839,2010,Robin Hood,Robin Hood,2018,116.0,"Action,Adventure,Thriller",5.3,41588.0,Action
30,9,2018-11-21,Robin Hood,99000000.0,30824628.0,8.474744e+07,1.155721e+08,1.167395,2018,Robin Hood,Robin Hood,2010,140.0,"Action,Adventure,Drama",6.6,239480.0,Action
31,9,2018-11-21,Robin Hood,99000000.0,30824628.0,8.474744e+07,1.155721e+08,1.167395,2018,Robin Hood,Robin Hood,2013,92.0,"Action,Drama",6.3,78.0,Action
32,9,2018-11-21,Robin Hood,99000000.0,30824628.0,8.474744e+07,1.155721e+08,1.167395,2018,Robin Hood,Robin Hood,2018,116.0,"Action,Adventure,Thriller",5.3,41588.0,Action
33,42,2018-02-16,Black Panther,200000000.0,700059566.0,1.348258e+09,2.048318e+09,10.241589,2018,Black Panther,Black Panther,2018,134.0,"Action,Adventure,Sci-Fi",7.3,516148.0,Action
34,44,2018-06-15,Incredibles 2,200000000.0,608581744.0,1.242521e+09,1.851102e+09,9.255512,2018,Incredibles 2,Incredibles 2,2018,118.0,"Action,Adventure,Animation",7.7,203510.0,Action
35,45,2016-12-16,Rogue One: A Star Wars Story,200000000.0,532177324.0,1.049103e+09,1.581280e+09,7.906401,2016,Rogue One: A Star Wars Story,Rogue One,2016,133.0,"Action,Adventure,Sci-Fi",7.8,478592.0,Action
36,46,2016-06-17,Finding Dory,200000000.0,486295561.0,1.021215e+09,1.507511e+09,7.537554,2016,Finding Dory,Finding Dory,2016,97.0,"Adventure,Animation,Comedy",7.3,213542.0,Adventure
37,47,2010-06-18,Toy Story 3,200000000.0,415004880.0,1.068880e+09,1.483884e+09,7.419422,2010,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218.0,Adventure
38,48,2013-05-03,Iron Man 3,200000000.0,408992272.0,1.215392e+09,1.624385e+09,8.121923,2013,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794.0,Action
39,51,2010-03-05,Alice in Wonderland,200000000.0,334191110.0,1.025491e+09,1.359682e+09,6.798411,2010,Alice in Wonderland,Alice in Wonderland,2010,108.0,"Adventure,Family,Fantasy",6.5,358813.0,Adventure
40,51,2010-03-05,Alice in Wonderland,200000000.0,334191110.0,1.025491e+09,1.359682e+09,6.798411,2010,Alice in Wonderland,Alice in Wonderland,2010,99.0,"Fantasy,Musical",6.5,6.0,Fantasy
41,52,2012-11-08,Skyfall,200000000.0,304360277.0,1.110527e+09,1.414887e+09,7.074436,2012,Skyfall,Skyfall,2012,143.0,"Action,Adventure,Thriller",7.8,592221.0,Action
42,53,2013-06-21,Monsters University,200000000.0,268488329.0,7.435883e+08,1.012077e+09,5.060383,2013,Monsters University,Monsters University,2013,104.0,"Adventure,Animation,Comedy",7.3,291887.0,Adventure
43,54,2013-03-08,Oz the Great and Powerful,200000000.0,234770996.0,4.903591e+08,7.251300e+08,3.625650,2013,Oz the Great and Powerful,Oz the Great and Powerful,2013,130.0,"Adventure,Family,Fantasy",6.3,192045.0,Adventure
44,55,2014-05-23,X-Men: Days of Future Past,200000000.0,233921534.0,7.478628e+08,9.817843e+08,4.908922,2014,X-Men: Days of Future Past,X-Men: Days of Future Past,2014,132.0,"Action,Adventure,Sci-Fi",8.0,620079.0,Action
45,56,2014-05-02,The Amazing Spider-Man 2,200000000.0,202853933.0,7.089963e+08,9.118503e+08,4.559251,2014,The Amazing Spider-Man 2,The Amazing Spider-Man 2,2014,142.0,"Action,Adventure,Sci-Fi",6.6,388363.0,Action
46,57,2011-06-24,Cars 2,200000000.0,191450875.0,5.601554e+08,7.516063e+08,3.758031,2011,Cars 2,Cars 2,2011,106.0,"Adventure,Animation,Comedy",6.2,138914.0,Adventure
47,60,2018-11-16,Fantastic Beasts: The Crimes of Grindelwald,200000000.0,159555901.0,6.522201e+08,8.117760e+08,4.058880,2018,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,2018,134.0,"Adventure,Family,Fantasy",6.6,163151.0,Adventure
48,62,2011-06-17,Green Lantern,200000000.0,116601172.0,2.195355e+08,3.361367e+08,1.680683,2011,Green Lantern,Green Lantern,2011,114.0,"Action,Adventure,Sci-Fi",5.5,252281.0,Action
49,64,2011-06-29,Transformers: Dark of the Moon,195000000.0,352390543.0,1.123791e+09,1.476181e+09,7.570159,2011,Transformers: Dark of the Moon,Transformers: Dark of the Moon,2011,154.0,"Action,Adventure,Sci-Fi",6.2,366409.0,Action

Friday Classtime Todo:
* go back and separate out genres
* create normalized film name columns in IMDB and TN Budgets